body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  font-family: var(--main_font);
}

:root {
  --main_font: "Roboto", sans-serif;
  --font_black: #1d1d1d;
  --background_black: #262626;
  --font_grey: #626262;
  --border_grey: #e0e0e0;
  --white: #fff;
  --border_dark_grey: #757575;
  --font-green: #327430;
  --border_light_grey: rgba(117, 117, 117, 0.2);
}
