.Proposition-type {
  border-bottom: 1px solid var(--border_light_grey);
  position: sticky;
  top: 73px;
  background: var(--white);
  z-index: 2;
  box-shadow: 0 0 16px rgba(38, 38, 38, 0.16);
}

.Proposition-type__link {
  text-decoration: none;
  margin-right: 40px;
}

.Proposition-type__wrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 100%;
  white-space: nowrap;
}

.Proposition-type__list {
  display: flex;
  padding-left: 0;
  margin: 0;
  justify-content: space-between;
}

.Proposition-type__main-list {
  display: flex;
  justify-content: start;
  padding-left: 0;
  margin: 0;
}

.Proposition-type__item {
  list-style: none;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 29px;
  cursor: pointer;
  font-size: 16px;
  line-height: 19px;
  color: var(--font_grey);
  text-align: center;
}

.Proposition-type__item-active {
  color: var(--font-green);
}

.Proposition-type__other {
  position: absolute;
  top: 100%;
  right: 0;
  text-decoration: none;
  box-shadow: 0 0 16px rgba(38, 38, 38, 0.16);
  background: var(--white);
}

.Proposition-type__other-link {
  text-decoration: none;
  margin: 0;
  display: block;
  padding: 8px 12px 8px;
}

.Proposition-type__other-button {
  background: var(--white);
  border: none;
  font-size: 16px;
  line-height: 19px;
  color: var(--font_grey);
  z-index: 1;
  cursor: pointer;
}

.Proposition-type__other-item {
  list-style: none;
  text-decoration: none;
  color: var(--font_grey);
  text-align: right;
}
